.profile_1 {
    background-color: #337ab7;
    padding-bottom: 10px;
}

.profile_2 {
    background-color: #dc3545;
    padding-bottom: 10px;
}

.profile_3 {
    background-color: #6c757d;
    padding-bottom: 10px;
}

button.btn {
    margin-bottom: 0;
}

.nav-md .container.container_profil_3 .right_col {
    min-height: 600px;
    margin-left: 0;
}

.container_profil_3 .main_container .top_nav {
    margin-left: 0;
}

tr.reclamation_1 td {
    font-weight: bold;
}
title .h1 {
    color:rgb(109, 184, 214);
    margin-top: 70px;
    padding: 90px 0px;
    text-align: center;

}